
    .site-header {
        text-align:center;
        padding:50px 0 50px 0;
        background-color: RGB(171, 199, 152); 
        position:relative;
        font-size: 100px;
    }

    .center-box {
        width:500px;
        height:250px;
        border:5px solid RGB(52, 67, 94);
        position: relative;
        left:34%;
        text-align:center;
        z-index: 1;
    }
    
    .center-words{
        font-size: 25px;
		font-family: 'Architects Daughter', cursive;
        position:relative;
        text-align: center;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    figcaption{
        margin-top: 20px;
        text-align: center;
    }

    .center-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        z-index: 1;
    }


    .blue-border{
        margin: 0; 
        height:10px; 
        background-color: RGB(52, 67, 94);
    }

	.heading{
		position: relative;
        padding-top: 20px;
		font-weight: bold;
		font-size: 50px;
        font-family: 'Roboto Slab', serif;
		text-align: center;
        z-index: 0;
	}

	.title-box{
		height:200px;
		background-color: RGB(171, 199, 152);
		position:relative;
	}

	.title{
		font-size: 100px;
		font-family: 'Merienda', cursive; 
    	position: relative;
    	top: 25%;
    	text-align: center;
	}

    .description{
        box-sizing:border-box;
        display: block;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align:center;
        font-size: 25px;
		font-family: 'Architects Daughter', cursive;
        border:10px solid RGB(52, 67, 94);
    }

    .menu{
        height:75px;
        background-color: #333;
        color: #f2f2f2;
        position: relative;
    }
    
    #mainMenu {
        margin:10px;
        padding-top: 20px;
        width:900px;
        z-index: 100;
        font-family: sans-serif;
    }
    #mainMenu li {
        position:relative;
        display:block;
        margin-left:50%;
        float:left;
        width:120px;
        margin-left:2px;
        border:1px solid #000;
    }
    #mainMenu a {
        display:block;
        padding:30px 3px;
        text-decoration:none;
        text-align:center;
        background-color:#333;
        font-size: 40;
        color:#fff;
    }
    #mainMenu a:hover {
        background-color:#fff;
        color:#333;
    }
    #mainMenu li ul {
        position:absolute;
        margin:0px;
        padding:0px;
        left:-3px;
        top:58px;
        display:none;
    }
    #mainMenu li ul li {
        width:120px;
        background-color: #f1f1f1;
        font-size:smaller;
        border-top:none;
    }
    #mainMenu li ul li:first-child {
        border-top:1px solid #fff;
    }
    #mainMenu li:hover ul {
        display:block;
    }