body {margin:0;}




    .site-header {
        text-align:center;
        padding:50px 0 50px 0;
        background-color: RGB(171, 199, 152); 
        position:relative;
        font-size: 100px;
    }

    .center-box {
        border:5px solid RGB(52, 67, 94);
        text-align:center;
        z-index: 1;
    }
    
    .center-words{
        font-size: 25px;
		font-family: 'Architects Daughter', cursive;
        text-align: center;
    }

    figcaption{
        margin-top: 20px;
        text-align: center;
    }

    .center-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        z-index: 1;
    }


    .blue-border{
        margin: 0; 
        height:10px; 
        background-color: RGB(52, 67, 94);
    }

	.heading{
        padding-top: 20px;
		font-weight: bold;
		font-size: 50px;
        font-family: 'Roboto Slab', serif;
		text-align: center;
        z-index: 0;
	}

	.title-box{
		height:200px;
		background-color: RGB(171, 199, 152);
		position:relative;
	}

	.title{
		font-size: 100px;
		font-family: 'Merienda', cursive; 
    	position: relative;
    	top: 25%;
    	text-align: center;
	}

    .description{
        box-sizing:border-box;
        display: block;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align:center;
        font-size: 25px;
		font-family: 'Architects Daughter', cursive;
        border:10px solid RGB(52, 67, 94);
    }

    .menu{
        
    }


.nav-wrapper {
	background:#000;
}
	
	
.nav {
	padding:20px 0;
	height:75px;
	width:50%;
	margin:0 auto;
}
    
 #mainMenu {
	 
}


#mainMenu li {
	position:relative;
	display:block;
	float:left;
	}
	
#mainMenu a {
	display:block;
	padding:10px 40px;
	font-size:24px;
	text-decoration:none;
	color:#fff;
}
#mainMenu a:hover {
	
}


#mainMenu li ul {
	position:absolute;
	z-index:1000;
	background:#000;
	margin:0px;
	padding:0px;
	left:-3px;
	top:41px;
	display:none;
}
#mainMenu li ul li {
	text-align:center;
	float:none;
}


#mainMenu li:hover ul {
	display:block;
}


.main-wrapper {
	width:75%;
	margin:0 auto;
}








